# Python Basics

In [1]:
# Introduce Colab Environment

In [32]:
x=3
print(x)

3

In [2]:
print("Hello World")

Hello World

In [35]:
placeholder = "Abdullah"
# print(f"{placeholder}")
print(f"Hello {placeholder}!")   # f"""

Hello Abdullah!

### Keywords
Can't be used as variable names. e.g `and,as,break,for,elif,else` as these have special meaning in Python. Each programming language has it's own set of keywords.

**Other keywords**: https://www.w3schools.com/python/python_ref_keywords.asp

In [36]:
# Variables and datatypes
str_val = "Hello"
int_val = 22
float_val = 21.21

print(type(str_val)) # type() is a function

SyntaxError: invalid syntax (220026404.py, line 5)

In [37]:
type(x)

int

In [47]:
# Data Structures
## List
lst = [1,2,3,2.2,"World"]
lst

[1, 2, 3, 2.2, 'World']

In [48]:
lst[0]=40
lst

[40, 2, 3, 2.2, 'World']

In [8]:
lst[0], lst[-1]

(1, 'World')

In [39]:
# Set
A = set([1,2,3,3]) # to dedupe
B = set([2,5])
print(f"A: {A}, B: {B}")

A: {1, 2, 3}, B: {2, 5}

In [40]:
print(f"A Union B: {A.union(B)}")
print(f"A intersection B: {A.intersection(B)}")
print(f"Values of A not in B (A-B): {A-B}")
print(f"Values of A not in B (A-B): {B-A}")

A Union B: {1, 2, 3, 5}
A intersection B: {2}
Values of A not in B (A-B): {1, 3}
Values of A not in B (A-B): {5}

In [41]:
x = {
    "A": 2,
    "B": {

    },
    "C": []
}

In [42]:
x["A"]

2

In [11]:
# Dictionary (JSON)

cogs_9 = {
    "sections": [
        {
            "name": "A01",
            "TA": "Abdullah",
            "IA": "Kyra",
            "students":["abc","def"]
        },
        {}
    ]
}

print(type(cogs_9))
print(cogs_9)

<class 'dict'>
{'sections': [{'name': 'A01', 'TA': 'Abdullah', 'IA': 'Kyra', 'students': ['abc', 'def']}, {}]}

In [46]:
cogs_9["sections"][0]["students"]

['abc', 'def']

In [12]:
# retrieval from dict is by key and not index
cogs_9['sections'][0]

{'name': 'A01', 'TA': 'Abdullah', 'IA': 'Kyra', 'students': ['abc', 'def']}

In [50]:
# tuple
tup1 = (1,2,3)
print(tup1)

(1, 2, 3)

In [51]:
tup1[0] = 10

TypeError: 'tuple' object does not support item assignment

## Conditionals and Loops

In [53]:
x = 4
if x<5:
  print("less than 5")
else:
  print("more than 5")

less than 5

In [55]:
x=4 # 4,5,6

if x<5:
  print("less than 5")
else:
  print()


if x<6:
  print("less than 6")
elif x==5:
  print("equal to 5")
else:
  print("more than 5")

less than 5
less than 6

In [ ]:
float()

In [56]:
## conversion
int(2.25)

2

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
for i in range(5):
  print(i)

0
1
2
3
4

In [58]:
for i in lst:
  print(i)

40
2
3
2.2
World

In [ ]:
print(), list(), set()

## Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [59]:
def my_function():
  print("Hello from a function")

In [60]:
my_function()

Hello from a function

In [22]:
def say_hello_to(name):
  print(f"Hello {name}!")

In [23]:
say_hello_to("Kyra")

Hello Kyra!

In [24]:
## return a value
def modify_input(x):
  x = x*2
  return x

In [25]:
ret = modify_input(3)
print(f"Function returned {ret}")

Function returned 6

## Classes

A Class is like an object constructor, or a "blueprint" for creating objects.

In [64]:
class MyClass():
  def __init__(self): # Constructor
    self.x = 2

  def double_x(self): # self is required if we want to
    self.x = self.x*2

  def multiply_by_x(self, y):
    self.x = self.x*y

In [63]:
obj = MyClass()
print(obj.x)

2

In [65]:
obj.double_x()
print(obj.x)

4

In [29]:
class Person: # blueprint
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def add_to_age(self, x):
    self.age += x

In [70]:
p1 = Person("John", 36)

print(p1.name, " ", p1.age)

John   36

In [71]:
p2 = Person("Kyra", 22)

In [72]:
p1.add_to_age(3)
print(p1.name, " ", p1.age)

John   39

### Why learning about classes?

Sneakpeak of next week's lecture

In [73]:
import pandas as pd

In [74]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [75]:
type(iris)

pandas.core.frame.DataFrame

In [76]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa